div#wrapper {
    background-color: #eeeeee;
    padding: 0.5em;
}

div#header {
    display: table;
    width: 100%;
    font-size: 20pt;
    margin-bottom: 0.5em;
}

div#title {
    float: left;
    font-style: italic;
}

div#logo {
    float: right;
}

br.divider {
    height: 20px;
}

.expander-anchor {
    color: black;
    text-decoration: none;
}

table#dataTable {
    font-size: 11pt;
    font-family: Arial;
    margin-bottom: 1em;
}

table#dataTable th.content {
    padding-right: 1em;
    text-decoration: underline;
}

table#dataTable td.content, td.expander {
    padding: 0.2em;
}

table#dataTable div.expander {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

table#dataTable div.expanded-div {
    padding-left: 2em;
}
