<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
       " >

    <!-- -->
    <context:annotation-config/>
    
    <!--
        instructs the bean factory that it should be configuring
        instances of classes annotated as @Configurable.
    -->
    <context:spring-configured/>

    <context:component-scan base-package="org.sgodden.tom.model"/>

    <util:map id="stateObjects">
        <entry key="NEW" value-ref="customerOrderNewState"/>
    </util:map>

    <bean name="org.sgodden.tom.model.CustomerOrder" class="org.sgodden.tom.model.CustomerOrder" autowire="byName"/>

    <bean class="org.sgodden.tom.model.CustomerOrderFactoryImpl"/>

</beans>
